.form {
  display: flex;
  justify-content: center;
  margin-top: 56px;
}

.form h2 {
  font-size: 48px;
  font-family: 'Prata';
  font-weight: normal;
}

.form form{
  width: 75%;
  background-color: #F2F2F2;
  border-radius: 24px;
  padding: 48px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
}