.title {
  display: flex;
  justify-content: center;
}

.title h2{
  margin-top: 56px;
  margin-bottom: 28px;
  text-align: center;
  color: #6278f7;
  font-family: 'Prata', sans-serif;
  font-size: 40px;
  font-weight: 500;
  border-bottom: 4px solid;
  padding-bottom: 4px;
  display: inline-block;
}