.team {
  text-align: center;
  padding: 32px;
  background-image: url('/public/images/fundo.png');
  background-size: cover;
  background-position: center;
}

.team .members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team h3{
  font-family: 'Prata', sans-serif;
  font-size: 36px;
  border-bottom: 4px solid;
  padding-bottom: 4px;
  display: inline-block;
}