.card {
  width: 280px;
  position: relative;
}

.delete {
  position: absolute;
  right: -10px;
  top: -10px;
}

.delete:hover {
  color: white;
}

.favorite {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.favorite:hover {
  color: red;
}

.upSide {
  border-radius: 10px 10px 0px 0px;
}

.upSide img {
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  bottom: -50px;
  width: 125px;
}

.downSide {
  border-radius: 0px 0px 10px 10px;
  background-color: white;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.15);
  padding-top: 50px;
  padding-bottom: 20px;
}

.downSide h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 8px;
}

.downSide h5 {
  font-size: 16px;
  line-height: 16px;
  color: rgb(53, 53, 53);
  padding: 0 16px;
}