.field {
  margin: 20px 0px;
}

.field label {
  display: block;
  font-size: 24px;
  font-weight: 600;
}

.field input {
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.09);
  background-color: white;
  border: none;
  box-sizing: border-box;
  font-size: 24px;
  padding: 24px;
  width: 100%;
}

.field-color input {
  height: 72px;
  padding: 8px;
}