.footer {
  background-color: #6278f7;
  padding: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-top: 56px;
  background-image: url('/public/images/fundo.png');
  background-size: cover;
  background-position: center;
}

.footer h5 {
  color: white;
  font-size: 16px;
}

.footer ul {
  display: inline-flex;
  list-style: none;
}

.footer ul li {
  padding: 16px;
}
