.footer {
  background-color: #6278f7;
  padding: 10px 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 56px;
  background-image: url('/public/images/fundo.png');
  background-size: cover;
  gap: 48px;
  background-position: center; 
}

.footer h5 {
  color: white;
  font-size: 16px;
}

.footer ul {
  display: inline-flex;
  list-style: none;
  gap: 10px;
  padding: 0px;
}

.footer ul li {
  padding: 16px;
}

@media (max-width: 756px) {
  .footer {
    flex-direction: column; 
  }

  .footer ul {
    justify-content: center; 
  }

  .footer section {
    margin-top: 10px; 
  }
}