@font-face {
  font-family: 'Prata', serif;
  src: url('../public/fonts/Prata/Prata-Regular.ttf') format('truetype');
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', Courier, monospace;
}
